{% extends 'admin_base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block container_body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_tag_index') }}" class="btn btn-primary me-2">back to list</a>

    <a href="{{ path('admin_tag_edit', {'id': tag.id}) }}" class="btn btn-success me-2">edit</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
